:root {
  --background-color: rgb(70, 70, 70);
  --text-color: aliceblue;
  --primary-color: rgb(1, 83, 104);
  --secondary-color: rgb(80, 80, 80);
  --accent-color: rgba(0, 0, 0, 0.096);
  --highlight-color: rgb(49, 49, 49);
  --placeholder-color: rgb(162, 163, 165);
  --font-size: 1rem;
  --font-family: 'Arial', sans-serif;
}

/* For Webkit based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: gainsboro;
}

/* For Firefox */
::-moz-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-moz-scrollbar-thumb {
  background-color: gray;
  border-radius: 6px;
}

::-moz-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}


* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

